<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socket</title>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script>
        $(document).ready(function(){
        var socket = io.connect('http://localhost:5000/');
        $('#button1').click(function(){
            alert("Hi");
           socket.emit('button_clicked',{name:"Kavita"});
        });

        });
    </script>
</head>
<body>
<button id="button1">Click</button>
</body>
</html>